Package: enigma2-plugin-extensions-tvmanager
Version: 3.0
Section: extra
OE: 2.0
License: *
Priority: optional
Architecture: all
Depends:
Maintainer: @lululla
Description: tivustream tvmanager
Source: enigma2-plugin-extensions-tvmanager
Homepage: www.tivustream.com
